.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  white-space: pre-wrap;
}

.container h1 {
  font-size: 32px;
}

.container .name {
  font-size: 50px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  text-align: center;
}

.container figcaption {
  opacity: 0.6;
}

.container blockquote {
  background-color: whitesmoke;
  padding: 1rem;
  font-size: 90%;
}
