:root {
  --background-color: white;
  --primary-text-color: black;
  --sub-text-color: gray;
  --shadow-color: gray;
  --card-hover-color: dimgray;
}

[site-appearance="light"] {
  --background-color: white;
  --primary-text-color: black;
  --sub-text-color: gray;
  --shadow-color: gray;
  --card-hover-color: dimgray;
}

[site-appearance="dark"] {
  --background-color: black;
  --primary-text-color: white;
  --sub-text-color: dimgray;
  --shadow-color: dimgray;
  --card-hover-color: dimgray;
}

@media (prefers-color-scheme: light) {
  [site-appearance="auto"],
  :root:not([site-appearance]) {
    --background-color: white;
    --primary-text-color: black;
    --sub-text-color: gray;
    --shadow-color: gray;
    --card-hover-color: dimgray;
  }
}

@media (prefers-color-scheme: dark) {
  [site-appearance="auto"],
  :root:not([site-appearance]) {
    --background-color: black;  
    --primary-text-color: white;
  }
}
