.header {
  display: block;
  padding: 0 0 16px 0;
  text-align: center;
  position: relative;
}

.navigationContainer button {
  background: none;
  border: none;
  padding: 0 8px;
  margin: 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: inherit;
}

.active button {
  color: white;
  background-color: royalblue;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px aliceblue;
}

.active:hover button,
.active:focus button {
  color: darkgray;
  background-color: darkblue;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px aliceblue;
}

.header .inactive button:hover {
  text-decoration: underline;
}

.actionButtonContainer button {
  position: absolute;
  top: 4px;
  right: 16px;
  font: inherit;
  padding: 0 8px;
  margin: 8px;
}