.header {
  display: block;
  text-align: center;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: inline-block;
  padding: 16px;
}

.active {
  color: white;
  background-color: royalblue;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px aliceblue;
}

.active:hover {
  color: darkgray;
  background-color: darkblue;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 16px;
  box-shadow: 0 4px 8px aliceblue;
}
