.container {
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 2rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileLeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileRightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  margin: 2rem;
}

.name {
  font-size: 3rem;
}

.contents {
  margin: 2rem;
  padding: 2rem;
}

.contents h1 {
  text-decoration: underline;
}

.cardsRow {
  display: flex;
  overflow: scroll;
}

.work {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
  align-items: center;
}

.workContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.workContent p,
.activity p {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.2rem;
}

.subText {
  font-size: 0.9rem;
}

.workContent .description {
  margin-top: 1.5rem;
  color: darkgray;
  font-size: 0.9rem;
  max-width: 10rem;
}

.activity {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
}

.activity .description {
  margin-top: 1.5rem;
  color: darkgray;
  font-size: 0.9rem;
  max-width: 20rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
