.container {
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileLeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileRightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  margin: 2rem;
}

.name {
  font-size: 3rem;
}

.contents {
  margin: 2rem;
  padding: 2rem;
}

.contents h1 {
  text-decoration: underline;
}

.cardsRow {
  display: flex;
  overflow: scroll;
}

.subText {
  font-size: 0.9rem;
}

.activity {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
}

.activity .description {
  margin-top: 1.5rem;
  color: darkgray;
  font-size: 0.9rem;
  max-width: 20rem;
}

.skill {
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
}

.skill p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.career th {
  background: navy;
  color: white;
}

.career th,
.career td {
  padding: 1em 10px 1em 1em;
  border-bottom: 1px solid gray;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
