.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 2rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileLeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileRightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  margin: 2rem 2rem 2rem 2rem;
}

.name {
  font-size: 3rem;
}

/* .title a:active {
  text-decoration: underline;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
