.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  margin: 2rem;
}

.name {
  font-size: 3rem;
}
