.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  margin: 2rem;
}

.name {
  font-size: 3rem;
}

@media (max-width: 900px) {
  .right {
    max-width: 16rem;
  }
}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .right {
    align-items: center;
    max-width: 25rem;
  }
}
