.work {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
  align-items: center;
}

.workContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.workContent p {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.2rem;
}

.workContent .description {
  margin-top: 1.5rem;
  color: darkgray;
  font-size: 0.9rem;
  max-width: 10rem;
}
