.activity {
  margin: 4px 16px;
  padding: 16px 48px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 1px 0 4px 1px gray;
  max-width: 380px;
}
.activity .description {
  color: darkgray;
  font-size: 14px;
  max-width: 480px;
}

.activity p {
  color: black;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
}

.activity img {
  display: block;
  margin: 0 auto;
}

.activity:hover {
  background-color: dimgray;
  box-shadow: 1px 0 4px 1px black;
  text-decoration: none;;
}

.activity:hover,
.activity:hover p,
.activity:hover .description {
  color: white;
}
