.activity {
  margin: 4px 16px;
  padding: 16px 48px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 1px 0 4px 1px var(--shadow-color);
  max-width: 380px;
}

.activity img {
  display: block;
  margin: 0 auto;
}

.activity p {
  color: var(--primary-text-color);
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
}

.activity .description {
  color: var(--sub-text-color);
  font-size: 14px;
  max-width: 480px;
}

.activity:hover {
  background-color: var(--hover-background-color);
  box-shadow: 1px 0 4px 1px var(--shadow-color);
  text-decoration: none;
}

.activity:hover,
.activity:hover p,
.activity:hover .description {
  color: var(--surface-text-color);
}
