.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contents {
  margin: 0 16px;
}

.cardsRow {
  display: flex;
  overflow: scroll;
  margin: 0 0 0 16px;
}

@media (min-width: 768px) {
  .contents {
    margin: 0 120px;
  }

  .cardsRow {
    margin: 0 0 0 120px;
  }
}

@media (min-width: 1024px) {
  .contents {
    margin: 0 200px;
  }

  .cardsRow {
    margin: 0 0 0 200px;
  }
}

@media (min-width: 1200px) {
  .contents {
    margin: 0 300px;
  }

  .cardsRow {
    margin: 0 0 0 300px;
  }
}