.container {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents {
  margin: 32px;
  padding: 32px;
}

.cardsRow {
  display: flex;
  overflow: scroll;
}

.subText {
  font-size: 14px;
}

@media (max-width: 900px) {
  .cardsRow {
    max-width: 560px;
  }
}

@media (max-width: 600px) {
  .contents {
    width: 100%;
    margin: 8px;
    padding: 8px;
  }

  .main {
    width: 100%;
  }

  .cardsRow {
    width: 100%;
    max-width: 1600px;
  }
}
