.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contents {
  margin: 0 32px;
}

.cardsRow {
  display: flex;
  overflow: scroll;
  padding: 0 16px 0 0;
}

@media (min-width: 768px) {
  .contents {
    margin: 0 120px;
  }

  .cardsRow {
    margin: 0 0 0 120px;
  }
}

@media (min-width: 1024px) {
  .contents {
    margin: 0 200px;
  }

  .cardsRow {
    margin: 0 0 0 200px;
  }
}

@media (min-width: 1200px) {
  .contents {
    margin: 0 30%;
  }

  .cardsRow {
    margin: 0 0 0 30%;
  }
}

.container a {
  color: var(--link-text-color);
  text-decoration: none;
}

.container a:hover {
  color: var(--hover-link-text-color);
}