.container {
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents {
  margin: 2rem;
  padding: 2rem;
}

.cardsRow {
  display: flex;
  overflow: scroll;
}

.subText {
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .cardsRow {
    max-width: 45rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 900px) {
  .cardsRow {
    max-width: 35rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.25rem;
  }
  
  .contents {
    margin: 1rem;
    padding: 1rem;
  }

  .cardsRow {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .contents {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .main {
    width: 100%;
  }

  .cardsRow {
    width: 100%;
    max-width: 100rem;
  }
}
