.row {
  display: block;
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 12px;
  fill: var(--primary-text-color);
  border: 1px solid var(--shadow-color);
  border-radius: 8px;
}

.button:hover {
  fill: var(--surface-text-color);
  background-color: var(--hover-background-color);
}
