.skillRow {
  display: flex;
  overflow: scroll;
}

.skill {
  margin: 16px;
  padding: 0 16px 0 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
}

.skill p {
  margin-left: 16px;
  margin-right: 16px;
}
