.skillRow {
  display: flex;
  overflow: scroll;
}

.skill {
  fill: var(--primary-text-color);
  margin: 16px;
  padding: 0 16px 0 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 1px 0 4px 1px var(--shadow-color);
}

.skill p {
  margin-left: 16px;
  margin-right: 16px;
}
