.skill {
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
}

.skill p {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .skill {
    margin: 0.8rem;
    padding: 0 0.8rem;
    min-width: 120px;
  }
  
  .skill p {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
