.work {
  margin: 32px;
  padding: 32px;
  display: flex;
  flex-shrink: 0;
  box-shadow: 1px 0 5px 1px #999;
  align-items: center;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.subText {
  font-size: 14px;
}

.content p {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
}

.content .description {
  margin-top: 24px;
  color: darkgray;
  font-size: 14px;
  max-width: 160px;
}
