.work {
  margin: 4px 16px;
  padding: 16px 48px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  box-shadow: 1px 0 4px 1px gray;
}

.content {
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.subText {
  font-size: 14px;
}

.content p {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
}

.content .description {
  margin-top: 16px;
  color: darkgray;
  font-size: 14px;
  max-width: 140px;
}

.work:hover {
  background-color: dimgray;
  box-shadow: 1px 0 4px 1px black;
  text-decoration: none;;
}

.work:hover .content,
.work:hover .description {
  color: white;
}
